<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contasPagar">
            <h2><span jhiTranslate="patrimonIoApp.contasPagar.detail.title">Contas Pagar</span> {{ contasPagar.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="patrimonIoApp.contasPagar.dtPagamento">Dt Pagamento</span></dt>
                <dd>
                    <span>{{ contasPagar.dtPagamento }}</span>
                </dd>
                <dt><span jhiTranslate="patrimonIoApp.contasPagar.dtVencimento">Dt Vencimento</span></dt>
                <dd>
                    <span>{{ contasPagar.dtVencimento }}</span>
                </dd>
                <dt><span jhiTranslate="patrimonIoApp.contasPagar.valor">Valor</span></dt>
                <dd>
                    <span>{{ contasPagar.valor }}</span>
                </dd>
                <dt><span jhiTranslate="patrimonIoApp.contasPagar.pago">Pago</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'patrimonIoApp.Status.' + contasPagar.pago }}">{{ contasPagar.pago }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contas-pagar', contasPagar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
